# Ignore everything
*

# Do not ignore .gitignore itself
!.gitignore

# Do not ignore .md, .c, Makefile and .txt files
!.clangd
!.clang-format
!*.md
!*.c
!*.h
!.dockerignore
!compose.yaml
!Dockerfile
!Makefile
!*example-input.*txt

# Unignore directories (necessary for recursive unignoring)
!*/
