# Ignore everything
*

# Do not ignore .gitignore itself
!.gitignore

# Do not ignore .md, .c, Makefile and .txt files
!*.md
!*.c
!*.h
!Makefile
!*example.*txt

# Unignore directories (necessary for recursive unignoring)
!*/
